body{
    /*background-color: #8DFA5E;*/
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/03/59/06/4257a3e641a7b4f.jpg");
    background-repeat: no-repeat;
    margin: 0px;
    background-size: 100px 100px;
    background-size: 100% 100%;
}



p{
    padding: 60px;
    font-size: 30px;
  
}

.boton{
background-color: #ffffff;
border: 3px groove #ffffff;
font-size: 20px;
}




#dig{
    
    text-align: left;
    font-size: 20px;
}

#text{
 
    text-align: left;
    font-size: 20px;
  
}



h1{
    text-shadow: #555 2px 2px 3px;
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
form{
    width: 77%;
    border: 3px groove #ffffff;
    margin: 50px;
    padding: 30px;
    float: left
}

textarea{
    height: 150px;
    width: 1220px; 
    border: 3px groove #ffffff; 
    font-size: 30px;
}

#txtOffset{
    border: 3px groove #ffffff; 
    font-size: 20px;
}

label{
    color: black;
    font-size: 15px;
    font-family: cursive;
    display: block;
    text-align: center
}
/*input{    para el tamaño de botones
    margin-bottom: 10px;
    width: 50%;
    display: block;
    overflow: auto
}*/
.formularios{
    overflow: center
}
input.focus{
    border: 1px solid cornflowerblue
}
